main{
  margin-top: 56px;
}

main .home_jumbotron{
  min-height: 450px;
  height: calc(70vh);
  position: relative;
  background-color: white;
  border-radius: 0 !important;
}

main .home_jumbotron span{
  position: absolute;
  bottom: 10%;
}

body{
  background-color: #E9ECEF;
  font-family: 'Arvo', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:inherit;
  cursor:pointer;
  text-decoration: none;
}

.home_jumbotron span{
  margin: 0 30px;
  /* background-color: rgba(156, 110, 255, .1); */
}

.advertisement {
  position: sticky;
  min-height: calc(90vh - 56px);
  top:56px;
}

.light_gray_bg{
  background-color: #E9ECEF;
}

.main_body{
  padding: 15px 20px;
}

.main_body .news_category {
  margin: 10px;
}

.main_body .entry {
  background-color: #E9ECEF;
  border-top: 1px solid;
  padding: 20px;
  min-height: 100px;
  margin: 15px 0px;
}

.main_col_1 .entry {
  border-color: red;
}

.main_col_2 .entry {
  border-color: green;
}

.main_col_3 .entry {
  border-color: blue;
}

.main_body .main_body_content img{
  position: relative;
  width:100%;
  height: auto;
}

.main_body .img_wrapper{
  position: relative;
  height: auto;
  width: 100%;
}

.main_body .shadow_overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 10px 20px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5));
  color: rgba(255,255,255,.9);
}

.main_body .shadow_overlay > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.main_body .shadow_overlay > div > span {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}

/* .main_body .img_overlay {
  position: absolute;
  height: 100%;
  top: 0;
  padding: 10px 20px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,.6));
  color: rgba(255,255,255,.9);
} */

.main_body .img_overlay > div {
  position: relative;
  left: 0;
  bottom: 0;
}

a.img_overlay:hover{
  color: rgba(255,255,255,.9);
}

.main_body .entry_sub_main_photo {
  overflow: hidden;
  max-height: 100%;
}

.main_body .main_body_content .entry .entry_sub_news_feed{
  max-height: inherit;
  overflow-y: auto;
}

.main_body .main_body_content .entry .entry_sub_news_feed .col-12:not(:first-child){
  margin-top: 7px;
}

.main_body .main_body_content .entry .news_title{
  font-weight: bold;
}

.main_body .main_body_content .entry .news_date{
  color: gray;
  font-style: italic;
}

.main_body .main_body_content .entry .news_author{
  color: gray;
}

.card {
  border: none;
  box-shadow: none;
  background-color: white;
  border-radius: 0 !important;
}

.card-columns .card {
  margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
  body{
    font-size: 90%;
  }
  .card-columns {
    column-count: 2;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body{
    font-size: 95%;
  }
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 890px) {
  body{
    font-size: 100%;
  }

  .card-columns {
    column-count: 3;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body{
    font-size: 105%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body{
    font-size: 107%;
  }
}

@media (max-width: 575px) {
  .main_body{
    padding: 15px 0px;
  }

  .main_body .entry {
    background-color: #E9ECEF;
    padding: 10px 5px;
  }
}
