main{
  margin-top: 56px;
}

main .home_jumbotron{
  min-height: calc(70vh);
  position: relative;
}

main .home_jumbotron span{
  position: absolute;
  bottom: 10%;
}

body{
  font-family: 'Arvo', serif;
}
