main{
  margin-top: 56px;
}

main .home_jumbotron{
  min-height: 450px;
  height: calc(70vh);
  position: relative;
}

main .home_jumbotron span{
  position: absolute;
  bottom: 10%;
}

body{
  font-family: 'Arvo', serif;
}

.home_jumbotron span{
  margin: 0 30px;
  /* background-color: rgba(156, 110, 255, .1); */
}

.main_body .main_body_content img{
  width: 100%;
  height: inherit;
}

.main_body .main_body_content .entry{
  max-height: 220px;
  overflow: hidden;
}

.main_body .main_body_content .entry .entry_sub_news_feed{
  max-height: inherit;
  overflow-y: auto;
}

.main_body .main_body_content .entry .news_title{
  font-weight: bold;
}
